/* Import external stylesheets */
@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');

.sideBar {
    background-color: #333;
    color: #fff;
    display: flex;
    width: 15vw;
    min-height: 100vh;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    padding-top: 30px;
    position: fixed;
    box-shadow: 0 1px 5px grey;
    gap: 10px;
}

.sideBar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Style the site logo */
.dashboard .sideBar .site-logo {
    display: flex;
    font-size: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    text-align: center;
    border: 2px rgb(243, 0, 117) solid;
    padding: 5px;
    border-radius: .5rem;
    margin-bottom: 30px;
}

.content {
    margin-left: 15vw;
    padding: 20px;
    font-size: 16px;
    background-color: #f5f5f5;
}

#profile,
#user,
#employee,
#hotelOwner {
    min-height: 100vh;
    height: auto;
}

.sideBar ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
    font-size: 20px;
    list-style: none;
}

.sideBar li a {
    text-decoration: none;
    color: #a8a8a8;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.sideBar li a:hover {
    color: #fff;
}

section {
    display: flex;
    padding: 20px;
    flex-direction: column;
    
}

section h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    text-align: center;
}

.table-main button {
    display: inline-block;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #007bff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.table-main button a {
    text-decoration: none;
    color: var(--white);
}

.table-main button:hover {
    background-color: #0069d9;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    height: 100%;
}

#profile .details {
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 50px;
    height: 100%;
    width: 80%;
    border: purple solid 2px;
    border-radius: 8px;
}

.userdetails {
    display: flex;
    padding: 30px;
    gap: 5px;
    flex-direction: column;
    justify-content: center;

}

.userdetails h2 {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
}

.userdetails p {
    font-family: 'Roboto';
}

.button {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.button button,
.button a {
    color: #fff;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.button .update-btn{
    background-color:  #087add;
}

.button .update-btn:hover {
    background-color:  #0163b8;
}

.button .delete-btn{
    background-color:  #dd0833;
}

.button .delete-btn:hover{
    background-color:  #bb0101;
}

.pbtn {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

.pbtn button {
    display: inline-block;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #007bff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.pbtn button a {
    text-decoration: none;
    color: var(--white);
}

.pbtn button:hover {
    background-color: #0069d9;
}