 .main {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 20px 0px 30px 0px;
     height: auto;
     font-family: Arial, sans-serif;
     background-color: #f0f0f0;
 }

 h1 {
     text-align: center;
     color: #333;
     padding: 20px;
 }

 .form-container {
     display: flex;
     flex-direction: column;
     width: 60%;
     background-color: aliceblue;
     border-radius: 1.2rem;
 }

 .form {
     padding: 10px;
 }

 form {
     display: flex;
     height: auto;
     width: 50%;
     gap: 20px;
     background-color: #fff;
     border: 3px solid purple;
     border-radius: 5px;
     padding: 20px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
 }

 .form label {
     font-weight: bold;
     display: block;
     padding: 10px;
 }

 input[type="date"],
 input[type="number"],
 input[type="text"],
 select,
 textarea {
     width: 100%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
     font-size: 16px;
 }

 input[type="submit"] {
     background-color: #007bff;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
     font-size: 18px;
     width: 60%;
 }

 input[type="submit"]:hover {
     background-color: #0056b3;
 }

 .summery {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     gap: 20px;
     width: 50%;
     padding: 10px;
 }

 .summery h2 {
     font-size: 20px;
 }

 .summery form {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }




