@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0px 60px 0px;
    height: auto;
    background-color: white;
}

.connOutline {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 550px;
    gap: 3px;
    border: 3px solid purple;
    padding: 40px;
    border-radius: 1.2rem;
    background-color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
}

.container h1 {
    font-size: 40px;
}

p {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p.para {
    text-align: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: purple;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 450px;
    gap: 6px;
    border: 3px;
    padding: 20px;
    border-radius: 1.2rem;
    background-color: azure;
}

.contactForm:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.inputbox {
    border: 2px solid #007bff;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 100px;
    padding: 0.5rem;
    width: 100%;
    transition: background-color 0.5s ease-out;
    background-color: #f0f0f0;
}

.tarea {
    border: 2px solid #007bff;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 100px;
    padding: 0.5rem;
    transition: background-color 0.5s ease-out;
    background-color: #f0f0f0;
    width: 100%;
    height: 90px;
    resize: none;
}

.inputbox .invalid {
    border: 2px solid red;
}

::placeholder {
    font-family: 'Arial';
    color: gray;
}

#sendButton {
    display: inline-block;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    margin: 35%;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #007bff;
    transition: background-color 0.3s ease, transform 0.5s ease-out;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #007bff;
    border-radius: 4px;
    width: 30%;


}

#sendButton:hover {
    background-color: #0069d9;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#status {
    width: 150%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.Button {
    display: inline-block;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    margin: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #007bff;
    transition: background-color 0.3s ease, transform 0.5s ease-out;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #007bff;
    border-radius: 4px;
    width: auto;

}

.Button:hover {
    background-color: #0069d9;
}

#validate {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}