@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    min-height: 80vh;
    height: auto;
    gap: 30px;
    padding: 50px;
}

.title {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    text-align: center;

}

.search-container {
    margin-top: 20px;
}

#hotelSearch {
    padding: 10px;
    width: 60%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#hotelSearch:focus {
    outline: none;
    border-color: purple;
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
    padding: 10px;
    text-align: center;
    font-family: arial;
    border: 2px solid purple;
    border-radius: 1.2rem;
    background-color: aliceblue;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.card img {
    border-radius: 1.2rem;
    height: 175px;
    width: 95%;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.025);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card h1 {
    font-size: 1.5rem;
}


.card button {
    cursor: pointer;
    width: 60%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: .25rem;
    color: #fff;
    background-color: #007bff;
    opacity: 0.8;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card button:hover {
    opacity: 1;
}
