@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');

.outline {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the login form wrapper */
.container {
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 3px solid purple;
    padding: 30px;
    border-radius: 1.2rem;
    background-color: aliceblue;
}

.container h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
}

/* Styling for text and password inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    background-color: whitesmoke;
    color: #191919;
    width: 300px;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #0069d9;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

/* Styling for the login button */
#login {
    display: inline-block;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #007bff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Styling for the login button link */
#login a {
    text-decoration: none;
    color: var(--white);
}

/* Hover effect for the login button */
#login:hover {
    background-color: #0069d9;
}

.create-account-wrap {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.message{
   margin:10px 0;
   width: 100%;
   border: 1px solid red;
   border-radius: 5px;
   padding:10px;
   text-align: center;
   background-color: rgb(248, 139, 139);
   color: #fff;
   font-size: 15px;
   font-family: 'Roboto', sans-serif;
}

.role-selection {
    display: flex;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}