/* table Styles */
.table-main {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
}

.table-wrapper{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center ;
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    overflow: auto;
}

.table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.table td, .table th {
    text-align: center;
    padding: 8px;
}

.table td {
    border-right: 1px solid #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.table thead th {
    color: #ffffff;
    background: #8530d1;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

tr:nth-child(even) { 
    background: #EEE; 
}

/* button style */
.edit-btn {
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
}

/* Cancel button style */
.delete-btn {
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    background-color: #FF0000;
    color: #fff;
}

